*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
body{
  font-family: 'Roboto', sans-serif;
}
/* LAYOUT */
/* FLOAT */
div[class^="col_"]{
  float: left;
}
/* FLOAT */
/* CLREARFIX */
.row:after{
  clear:both;
  content: "";
  display: table;
}
/* CLREARFIX */
/* COLONNE */
.col_100{
  width: calc(100%);
}
.col_75{
  width: calc(100% * (3/4));
}
.col_66{
  width: calc(100% * (2/3));
}
.col_50{
  width: calc(100% * (1/2));
}
.col_33{
  width: calc(100% * (1/3));
}
.col_25{
  width: calc(100% * (1/4));
}
/* COLONNE */


/* LAYOUT */
/* HEADER */
header{
  color: white;
}
/* NAV */
nav{
  text-transform: uppercase;
}
nav .row:first-child{
  height: 80px;
  width: 80%;
  margin: 0 auto;
}
nav li{
  display: inline-block;
}
/* comandi logo */
nav .logo{
  vertical-align: middle;
  margin-bottom: 10px;
}
/* comandi logo */

/* comandi link */
nav .link li{
  line-height: 80px;
  margin-left: 40px;
}
nav .link li:first-child{
  margin-left: 60px;
}
nav .link a{
  color: white;
  text-decoration: none;
}
/* comandi link */

/* comandi button */
nav .button{
  float: right;
  line-height: 80px;
}
nav li button{
  display: inline-block;
}
/* comandi button */
/* NAV */
/* JUMBO PART */

header #jumbo_part{
  background-image: url(../img/background.png);
  background-size: 70%;
  min-width: 1300px;
  background-position-x: 115%;
  background-position-y: bottom;
  background-repeat: no-repeat;
}
#jumbo_part .row{
  width: 80%;
  margin: 0 auto;
  height: 700px;
}
#jumbo_part .col_50{
margin-top: 150px;
}
#jumbo_part h1{
  font-size: 70px;
}
#jumbo_part button{
  margin: 40px 0 0 0;
}
/* JUMBO PART */
/* HEADER */

/* MAIN */
/* motivational text */
#motivational_text{
text-align: center;
}
#motivational_text .row{
  background-color: #D3D3D3;
  height: 150px;
}

#motivational_text .col_100{
  position: relative;
}
#motivational_text .box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#motivational_text h1{
font-size: 35px;
}
#motivational_text h2{
  margin-top: 10px;
  color: #808080;
}
/* motivational text */
/* explanation part */
#explanation_part{
  text-align: center;
  width: 80%;
  margin: 0 10%;
}

#explanation_part .box{
  padding: 0 30px;
}
#explanation_part .box img{
  height: 200px;
  margin-top: 40px;
}
#explanation_part .box .border_1{
  margin: 40px auto 0 auto;
  width: 100px;
  height: 2px;
}
#explanation_part .box h1{
  color: #7CBB02;
  margin-top: 40px;

}
#explanation_part .box h2{
  color: #808080;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
/* explanation part */
hr{
  border: 1px solid lightgrey;
  width: 98%;
  margin: 40px auto;
}
/* test part */
#test_part{

  width: 80%;
  margin: 0 10%;
}

#test_part .box{
  padding: 0 30px;
}
#test_part .box img{
  width: 75%;
  margin: 30px 0;
}
#test_part .box h1{
  font-size: 45px;
  color: #000000;
  margin-top: 30px;
}
#test_part .box h2{
  color: #808080;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}
/* test part */
/* MAIN */

/* FOOTER */

footer > .container{
  width: 80%;
  margin: 0 auto;
  height: 200px;
  line-height: 200px;
}
footer .box{
  float: right;

}
footer .container p{
  float: left;
  font-size: 40px;
  font-weight: bold;
}
footer .container .box span{
  font-weight: bold;
  font-size: 25px;
  color: grey;
  margin-right: 30px;
}
footer .container .box select{
  font-size: 20px;
  color: grey;
  background-color: lightgrey;
  border-bottom: 1px solid grey;
  font-size: 30px;
  padding: 5px 20px;
}
/* FOOTER */
/* HELP */
#help .btr_help{
  position: fixed;
  bottom: 0;
  right: 13%;
}
/* HELP */

/* UTILITY */
.inline_block{
  display: inline-block;
}
/* altezze */
.w_h_100{
  height: 100%;
  width: 100%;
}
.w_h_50{
  height: 50%;
  width: 50%;
}
.h_100{
  height: 100%;
}

/* altezze */
/* BUTTON STYLE */
[class^="btr_style_"]{
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 30px;
}
.btr_style_1{
  padding: 10px;
}
.btr_style_2{
  border: 1px solid white;
  padding: 10px 40px;
}
.btr_style_3{
  padding: 25px 15px;
}
.btr_help{
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius:  5px;
  color: white;
  text-transform: uppercase;
}
/* BUTTON STYLE */
/* BACKGROUND COLOR */
.bg_blue{
  background-color: #0C325A;
}
.bg_green{
  background-color: #7CBB02;
}
.bg_grey{
  background-color: #808080;
}
.bg_lightgrey{
  background-color: lightgrey;
}
/* BACKGROUND COLOR */
/* UTILITY */
