*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
body{
  font-family: 'Roboto', sans-serif;
}
/* body{
  margin: 0px;
} */
/* HEADER */
header{
  color: white;
}
/* NAV */
nav{
  text-transform: uppercase;
}
nav .row:first-child{
  height: 80px;
  width: 80%;
  margin: 0 auto;
}
nav li{
  display: inline-block;
}
/* comandi logo */
nav .logo{
  vertical-align: middle;
  margin-bottom: 10px;
}
/* comandi logo */

/* comandi link */
nav .link li{
  line-height: 80px;
  margin-left: 40px;
}
nav .link li:first-child{
  margin-left: 60px;
}
nav .link a{
  color: white;
  text-decoration: none;
}
/* comandi link */

/* comandi button */
nav .button{
  float: right;
  line-height: 80px;
}
nav li button{
  display: inline-block;
}
/* comandi button */
/* NAV */
/* ADS PART */
header #ads_part{
  background-image: url(../img/background.png);
  background-size: 70%;
  background-position: right bottom;
  background-repeat: no-repeat;
}
#ads_part .row{
  height: 700px;
}
#ads_part .row [class^="col_"]{
float: left;
}
#ads_part .row > .col_100{
  position: relative;
}
#ads_part .box{
  position: absolute;
  top: 25%;
  left: 10%;
  width: 35%;
}
#ads_part .box h1{
  font-size: 60px;
}
#ads_part .box button{
  margin: 40px 0 0 0;
}
/* ADS PART */
/* HEADER */

/* MAIN */
/* motivational text */
#motivational_text{
text-align: center;
}
#motivational_text .row{
  background-color: #D3D3D3;
  height: 150px;
}
#motivational_part .row [class^="col_"]{
float: left;
}
#motivational_text .col_100{
  position: relative;
}
#motivational_text .box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#motivational_text h1{
font-size: 35px;
}
#motivational_text h2{
  margin-top: 10px;
  color: #808080;
}
/* motivational text */
/* explanation part */
#explanation_part{
  text-align: center;
  width: 80%;
  margin: 0 10%;
}
#explanation_part .row [class^="col_"]{
float: left;
}
#explanation_part .box{
  padding: 0 30px;
}
#explanation_part .box img{
  height: 200px;
  margin-top: 40px;
}
#explanation_part .box .border_1{
  margin: 40px auto 0 auto;
  width: 100px;
  height: 2px;
}
#explanation_part .box h1{
  color: #7CBB02;
  margin-top: 40px;

}
#explanation_part .box h2{
  color: #808080;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
/* explanation part */
.border_2{
  width: 98%;
  height: 2px;
  margin: 60px 1%;
}
/* test part */
#test_part{

  width: 80%;
  margin: 0 10%;
}
#test_part .row [class^="col_"]{
 float: left;
}
#test_part .box{
  padding: 0 30px;
}
#test_part .box img{
  width: 75%;
  margin-top: 40px;
}
#test_part .box h1{
  font-size: 45px;
  color: #000000;
  margin-top: 30px;
}
#test_part .box h2{
  color: #808080;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}
/* test part */
/* MAIN */

/* FOOTER */

footer > div{
  width: 80%;
  margin: 0 auto;
  height: 200px;
  line-height: 200px;
}
footer .row{
  float: right;
  margin-right:;
}
footer > div > span{
  font-size: 50px;
}
footer > div > div > span{
  font-size: 20px;
  color: grey;
  margin-right: 30px;
}
footer > div > div > select{
  font-size: 20px;
  color: grey;
  background-color: lightgrey;
  border-bottom: 1px solid grey;
  padding: 5px 20px;
}
/* FOOTER */



/* UTILITY */
.inline_block{
  display: inline-block;
}
/* altezze */
.w_h_100{
  height: 100%;
  width: 100%;
}
.w_h_50{
  height: 50%;
  width: 50%;
}
.h_100{
  height: 100%;
}

/* altezze */
/* BUTTON STYLE */
[class^="btr_style_"]{
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 30px;
}
.btr_style_1{
  padding: 10px;
}
.btr_style_2{
  border: 1px solid white;
  padding: 10px 40px;
}
.btr_style_3{
  padding: 20px;
}
/* BUTTON STYLE */
/* BACKGROUND COLOR */
.bg_blue{
  background-color: #0C325A;
}
.bg_green{
  background-color: #7CBB02;
}
.bg_grey{
  background-color: #808080;
}
.bg_lightgrey{
  background-color: lightgrey;
}
/* BACKGROUND COLOR */
/* COLONNE */
.col_100{
  width: calc(100%)
}
.col_75{
  width: calc(100% * (3/4));
}
.col_66{
  width: calc(100% * (2/3));
}
.col_50{
  width: calc(100% * (1/2));
}
.col_33{
  width: calc(100% * (1/3));
}
.col_25{
  width: calc(100% * (1/4));
}
/* COLONNE */

/* UTILITY */
